:root {
    --color-accent-bg: #cc4631;
    --color-accent-on-bg: #ffffff;
}

.card-hover:hover {
    transform: scale(1.02);
    border-color: black;
}

.cart-icon-total {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent-bg);
    color: var(--color-accent-on-bg);
    font-weight: 500;
    border-radius: 900px;
    /* padding: 0.25rem; */
    height: 1.5rem;
    aspect-ratio: 1/1;
    line-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}